/* ==========================================================================
   Author's custom styles
   ========================================================================== */
ul{
    margin: 0;
    padding: 0;
}

body{
    color: #1d1d1b;
}

header{
    height:660px;
}

/*menu*/
.row.section-1 {
    margin-top: 50px;
    position: relative;
    z-index: 1000;
}

.menu, logo{
    margin:0;
    padding: 0;
}


.menu .container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.menu .list-inline>li {
    display: inline-block;
   /* padding: 20px 10px;*/
}

.list-inline>li {
    padding-right: 0;
    padding-left: 0;
}

.menu li a{
    font-size: 19px;
    color: #1d1d1b;
    font-weight: 600;
    padding: 20px 10px 20px 10px;
    background: #ffdd0e;
    margin-left: -4px;
}

.menu{
    background: #ffdd0e;
    padding: 20px 0;
    margin: 0;
}

.menu li.active a{
    background: #1d1d1b;
    color: #fff;
    padding: 20px 10px 40px 10px;
}

.menu li a:hover{
    background: #1d1d1b;
    color: #fff;
    padding: 20px 10px 40px 10px;
    text-decoration: none;
}

.list-inline {
    padding-left: 0;
    margin-left: 15px;
    list-style: none;
        margin-top: -2px;
}
/*menu*/

/*slider*/


.carousel-caption{
    bottom: 35%;
}

.slider img{
    width: 100%;
}

.carousel-indicators li {
    background-color: #1d1d1b;
    border: 0;
    border-radius: 0;
    width: 20px;
    height: 20px;
    margin: 0;
}
.carousel-indicators li.active{
    background-color: #ffdd0e;
    border: 0;
    border-radius: 0;
    width: 20px;
    height: 20px;
}

.carousel-indicators {
    left: 15%;
}

.btn-default{
    background: #ffdd0e;
    border: 0;
    border-radius: 0;
    color: #1d1d1b;
    font-size: 26px;
    text-transform: uppercase;
}

.btn-default:hover{
    background: #ffdd0e;
}

.btn-default:focus{
    background: #ffdd0e;
    border: 0;
    border-radius: 0;
}

.row.slider {
    position: absolute;
    width: 100%;
    top:0;
}

/*slider*/

