/* ==========================================================================
   Author's custom styles
   ========================================================================== */
ul{
    margin: 0;
    padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p, .h1, .h2{
    color: #1d1d1b;
}

header{
    /*background-image: url(../img/bg-1.jpg);
    min-height: 650px;
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
    min-height: 650px;
}

#myCarousel .item{
   min-height: 650px;
   background-image: url(../img/bg-1.jpg);
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/*menu*/
.row.section-1 {
    margin-top: 50px;
    position: relative;
    z-index: 1000;
}

.menu, logo{
    margin:0;
    padding: 0;
}


.menu .container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.menu .list-inline>li {
    display: inline-block;
   /* padding: 20px 10px;*/
}

.list-inline>li {
    padding-right: 0;
    padding-left: 0;
}

.menu li a{
    font-size: 20px;
    color: #1d1d1b;
    font-weight: 300;
    padding: 15px 10px 20px 10px;
    background: #ffdd0e;
    margin-left: -4px;
}

.menu{
    background: #ffdd0e;
    padding: 20px 0;
    margin: 0;
}

.menu-fixed{
    position: fixed;
    top: 0;
    right: 0;
}

.menu li.active a{
    background: #1d1d1b;
    color: #fff;
    padding: 20px 10px 40px 10px;
}

.menu li a:hover{
    background: #1d1d1b;
    color: #fff;
    padding: 20px 10px 40px 10px;
    text-decoration: none;
}

.list-inline {
    padding-left: 0;
    margin-left: 15px;
    list-style: none;
    margin-top: -3px;
    /*float: right;*/
}
/*menu*/

/*slider*/


.carousel-caption{
    bottom: 35%;
}

.slider img{
    width: 100%;
}

.carousel-indicators li {
    background-color: #1d1d1b;
    border: 0;
    border-radius: 0;
    width: 20px;
    height: 20px;
    margin: 0;
}
.carousel-indicators li.active{
    background-color: #ffdd0e;
    border: 0;
    border-radius: 0;
    width: 20px;
    height: 20px;
}

.carousel-indicators {
    left: 15%;
}

.btn-default{
    background: #ffdd0e;
    border: 0;
    border-radius: 0;
    color: #1d1d1b;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 20px;
}

.btn-default:hover{
    background: #ffdd0e;
}

.btn-default:focus{
    background: #ffdd0e;
    border: 0;
    border-radius: 0;
}

.row.slider {
    position: absolute;
    width: 100%;
    top:0;
}

/*slider*/

#home .container-fluid{
    background: #f6f6f6;
    border-top: solid 3px #ffdd0e;
}

#home .btn-default, footer .btn-default{
    text-shadow: none;
    padding: 10px 20px;
    margin: 20px 0;
}

#home p{
    font-size: 16px;
}

.products ul, .products_description{
    width: 50%;
    float: left;
}

.products h3:hover{
    cursor:pointer;
    color: #ffdd0e;
}

.products li.active h3{
    color: #ffdd0e;
}

.products li h3{
    font-weight: bold;
}

.products li{
    list-style-type: none;
    border-bottom: solid 1px #e1e1e1;
}

.products img:hover{
    cursor:pointer;
}

.product{
    display: none;
    position: relative;
}

.product.active{
    display: block;
}

.desc{
    width: 50%;
    background: rgba(255, 221, 14, 0.85);
    padding: 15px;
    position: absolute;
    top:0;
    left: 25%;
}

.traffic{
    background: #f6f6f6;
    border-top: solid 1px #ffdd0e;
    border-bottom: solid 1px #ffdd0e;
    margin-bottom: 50px;
    margin-top: 50px;
}

.contacts{
    border-top: solid 3px #ffdd0e;
    background: #f6f6f6;
}

.contacts form{
    width:50%;
    margin: 0 auto;
}


.contacts .form-control {
    border-radius: 0px;
}

.form-control:focus {
    border-color: #ffdd0e;
    outline: 0;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6); */
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0, 0, 0, 0.18);
}


.dev{
    background: #ffdd0e;
}

.dev{
    padding: 50px 0;
    font-size: 18px;
}

.dev a{
    color: #1d1d1b;
    font-weight: bold;
    text-decoration: underline;
}

.dev h6{
    margin-right: 40px;
}

.bottom-menu{
    padding: 60px 0 0 0;
    font-size: 18px;
}

.bottom-menu ul{
    margin-left: 40px;
}

.bottom-menu li a{
    color: #1d1d1b;
}

.bottom-menu li.active a{
    font-weight: bold;
    text-decoration: underline;
}
