/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20.09.2016, 10:22:22
    Author     : webmaster
*/

@media screen and (min-width:1600px) and (max-width:1920px){
    .menu li a {
        font-size: 26px;
    }
}

@media screen and (max-width:1200px){
    .menu li a {
        font-size: 14px;
    }
    
    .list-inline {
        margin-top: -2px;
    }
}

@media screen and (max-width:992px){
    .btn-default {
        font-size: 14px;
    }

    .row.section-1 {
      margin-top: 20px;
   }

}


@media screen and (max-width:768px){
    .menu li a {
        font-weight: normal;
        padding: 0;
        margin-left: 0;
        font-size: 10px;
    }
    
    .menu li.active a {
        padding: 0;
    }
    
    .menu {
        padding: 5px 0;
    }
    
    .carousel-indicators li.active {
        width: 10px;
        height: 10px;
    }
    .carousel-indicators li {
        width: 10px;
        height: 10px;
    }
    
     .row.section-1 {
      margin-top: 10px;
   }
   
   .btn-default {
        font-size: 10px;
    }


    
}
